Repository JorgeAMendoza/vite-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --report-unused-disable-directives --max-warnings 0 --cache --fix, stylelint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --report-unused-disable-directives --max-warnings 0 --cache --fix",
  "*.{css,scss}": "stylelint --cache --fix",
  "*.{jsx,ts,tsx,css,scss}": "prettier --write"
}

modify configuration
  .gitignore
  .lintstagedrc.cjs
  .lintstagedrc.json
  package.json
Due: none

stylelint cache
  .gitignore
Due: none

animation and style
  public/icons/react-icon.svg
  public/icons/typescript-icon.svg
  public/icons/vite-icon.svg
  src/App.css
  src/App.tsx
  src/app.module.css
  src/assets/blaze.jpg
  src/assets/fonts/Nunito-VariableFont_wght.ttf
  src/assets/hand.svg
  src/global.d.ts
  src/index.css
  src/main.tsx
  src/styles/font.css
  src/styles/index.css
  src/styles/utils/container.module.css
Due: eslint --report-unused-disable-directives --max-warnings 0 --cache --fix, stylelint --cache --fix, prettier --write

minor fixes
  src/App.tsx
  src/app.module.css
Due: eslint --report-unused-disable-directives --max-warnings 0 --cache --fix, stylelint --cache --fix, prettier --write

page style
  src/app.module.css
Due: stylelint --cache --fix, prettier --write

update eslint
  .eslintrc.cjs
  package-lock.json
  package.json
Due: none

vitest changed
  .husky/pre-commit
Due: none

commit to test `--changed` flag on vitest.
  .husky/pre-commit
  README.md
  package.json
Due: none

works!
  README.md
Due: none

test file ran when we adjusted `App.tsx`
  README.md
  src/App.tsx
Due: eslint --report-unused-disable-directives --max-warnings 0 --cache --fix, prettier --write

gonna try another one.
  src/App.tsx
Due: eslint --report-unused-disable-directives --max-warnings 0 --cache --fix, prettier --write

readme
  README.md
Due: none

table of contents
  README.md
Due: none

insert license
  LICENSE
Due: none
